body {
  margin: 0;
  background-position: center;
  background-color: #f6f5ec;
}

h1 {
  font-family: "Tangerine", cursive;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-family: "Tangerine", cursive;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-family: "Tangerine", cursive;
  background-color: #c1b6a4;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-top: 4%;
}

#link {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  color: black;
  text-decoration: none;
  margin: 0 auto;
  display: inline-block;
  padding: 1em;
}

#tekst-link {
  width: 100%;
  text-align: center;
}

#tekst-link #link:hover {
  color: blue;
}

.box-2 iframe {
  width: 80%;
  height: 500px;
  display: block;
  margin: auto;
  border-style: none;
}

img[alt~="desktop-view"] {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

img[alt~="mobile-view"] {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.box-4 {
  padding: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #e1daca;
}

.box-4 ul {
  font-family: "Tangerine", cursive;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  list-style-type: none;
}

.box-6 {
  padding: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #e1daca;
}

.box-6 ul {
  font-family: "Tangerine", cursive;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  list-style-type: none;
}

.box-7 {
  padding-bottom: 30px;
  background-color: #e1daca;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 5%;
  margin-top: 5%;
}

/* Media query for mobile view */
@media (max-width: 649px) {
  .grid-6 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 300px 500px 700px 400px 850px 400px 1fr;
    gap: 10px;
  }

  h4 {
    font-size: 15px;
  }

  .box-7 {
    width: 90%;
  }

  .box-1 {
    grid-row: 1/2;
    grid-column: span 1;
    place-self: center stretch;
    margin-top: 2%;
  }

  .box-2 {
    grid-row: 2/3;
    grid-column: span 1;
    place-self: center stretch;
  }

  .box-3 {
    grid-row: 3/4;
    grid-column: span 1;
    place-self: center stretch;
  }

  .box-4 {
    grid-row: 4/5;
    grid-column: span 1;
    place-self: center stretch;
  }

  .box-5 {
    grid-row: 5/6;
    grid-column: span 1;
    place-self: center stretch;
  }

  .box-6 {
    grid-row: 6/7;
    grid-column: span 1;
    place-self: center stretch;
  }

  .box-7 {
    grid-row: 7/8;
    grid-column: span 1;
    place-self: center stretch;
  }
}

/* Media query for desktop view */
@media (min-width: 650px) {
  .grid-6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 600px 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 7%;
  }

  .box-1 {
    grid-row: 1/2;
    grid-column: span 2;
    place-self: center stretch;
    margin-top: 2%;
  }

  .box-2 {
    grid-row: 2/3;
    grid-column: span 2;
    place-self: center stretch;
  }

  .box-3 {
    grid-row: 3/4;
    grid-column: 1/2;
    place-self: center stretch;
  }

  .box-4 {
    grid-row: 3/4;
    grid-column: 2/3;
    place-self: center stretch;
  }

  .box-5 {
    grid-row: 4/5;
    grid-column: 2/3;
    place-self: center stretch;
  }

  .box-6 {
    grid-row: 4/5;
    grid-column: 1/2;
    place-self: center stretch;
  }

  .box-7 {
    grid-row: 5/6;
    grid-column: span 2;
    place-self: center stretch;
  }
}
